
.OUTLINE {
    stroke-linejoin:round;
    stroke: #f9f3ff;
    fill: #0e9aef;
    stroke-width: 2;
}

#CD29 {
    fill: #e67e22;
}
#CD30 {
    fill: #27ae60;
}
#CD36 {
    fill: #3498db;
}
#CD41 {
    fill: #e74c3c;
}
#CD11 {
    fill: #f1c40f;
}
#CD26 {
    fill: #16a085;
}
#CD27 {
    fill: #f39c12;
}
#CD28 {
    fill: #2ecc71;
}

#CD42 {
    fill: #2980b9;
}
#CD43 {
    fill: #c0392b;
}
#CD44 {
    fill: #9b59b6;
}
#CD45 {
    fill: #8e44ad;
}
#CD46 {
    fill: #34495e;
}
#CD47 {
    fill: #2c3e50;
}
#CD48 {
    fill: #1abc9c;
}
#CD50 {
    fill: #f1c40f;
}
.TEXT {
    fill: #ffffff;
    font-size: 16;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}